{% extends 'zappyapp/base.html'%}
{% load staticfiles %}
{% block parentblock %}
<div class="container">
  <img src="{% static "images/home.jpg" %}" alt="Smiley face" height="100%" width="100%"/>
</div>
</br>
</br>
<!-- Contact Container -->



<!-- Footer -->
<div class="container" align="center">
  <div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
      <div class="jumbotron" >
    <div class="w3-padding-16"><h3>Contact Us</h3></div>
      <h4>Address</h4>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i> UJJAIN M.P.</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i> 8349432596 </p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i> balramchawda4019@gmail.com</p>
    </div>
  {%endblock%}
</div>
